#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), pin
      .panel-body
        %h2= link_to pin.title, pin
        %p.user
        Submitted by
        = pin.user.name
      .panel-footer
        .fb-like{"data-href" => request.original_url, "data-send" => "true", "data-show-faces" => "false", "data-width" => "450"}
        Tags:
        - pin.tags.each do |tag|
          = link_to tag.name, tag_path(tag.name) 

     