<div class="container">
<h1>About Vetpixl.com</h1>
<p>Hey vets, we created this site with the hopes that it will become the largest collection of combat photos ever assembled. Why would you want to 
post your photos here? Because the world needs to see what we actually did, not what the media tells them. </p>

<p>To keep the site clean we implemented a down-vote button. Hit this for spam, ads and shit that doesn't belong. We have to police ourselves.</p>
</div>
